/*  OBSERVATORIO COVID-19 BR */
/* Designed by Rafael Badain */

/* ACCORDION */
.card-header {
    background-color: rgba(0,0,0,.02);
}

/*CARD LINK */
.btn-link {
    font-weight: 500;
}
/*ACCORDIAN MAIN*/
.accordion {
    margin: 1rem 0 0 0;
}

/*ACCORDIAN CARD*/
.accordion>.card {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    display: flex!important;
    padding: 0;
    margin-bottom: 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

/*COLLAPSABLE CARD BODY*/
.collapse>.card-body {
    padding: 1.25rem!important;
}
.collapsing>.card-body {
    padding: 1.25rem!important;
}
