/*  OBSERVATORIO COVID-19 BR */
/* Designed by Rafael Badain */

/* BODY */
body {
    background-color: #fdfdfd;
}

/* NAVBAR */
.navbar {
    box-shadow: 0 7px 6px 0 rgba(128, 128, 128, 0.05)!important;
    border-bottom: solid 1px #f1f1f1!important;
    background-color: #fff!important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

/* NAVBAR: TYPE */ 
#navbarDropdown {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    margin: 0.2rem 0 0;
    font-weight: 500;
}

.nav-item {
    font-family: 'Poppins', sans-serif;
    font-size: .85rem;
    text-align: center;
}

/* NAVBAR: MENU RESTING */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
}

/* NAVBAR: MENU FOCUS */
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.9);
}

/* NAVBAR: MENU ACTIVE */
.destaque {
    color: #007bff;
    font-size: .9rem;
    font-weight: 500;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #007bff;
    font-size: .9rem;
    font-weight: 500;
}
/* NAVBAR: RESPONSIVE BEHAVIOR */
@media (max-width: 374px) {
    .destaque {
        font-size: .7rem;
    } 
}

@media (min-width: 992px) {
    .destaque {
        display: none;
    } 
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-item {
        font-size: .73rem;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        font-size: .78rem;
    }
}

/* GLOBAL: NAVBAR */
.navbar-nav {
    margin: 0 0 0 1rem;
}

.navbar-logo {
    height: 45px;
}

.navbar-brand {
    margin-right: auto!important; /*Fixes logo on the right*/
}

.navbar-light .navbar-toggler {
    border-color: transparent!important;
}

@media (max-width: 446px) {
    .navbar-logo {
        height: 33px!important;
    }
    .destaque {
        padding: .5rem 0.25rem!important;
    }
}

@media (max-width: 374px) {
    .navbar-logo {
        height: 28px!important;
    }
}

@media (max-width: 575.98px) { 
    .navbar-toggler {
        padding: .25rem .75rem .25rem 0;
    }
}

@media (min-width: 1200px) {
    .navbar-brand {
       margin-left: .25rem;
    }
}

/* GLOBAL: PAGE TITLE & UPDATE DATE */
/* extra small: less than 576px */
.main-title {
    display: flex;
    flex-direction: column!important;
    margin-left: 0.2rem;
}
.display {
    display: inline-block;
    font-size: 1.65rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0!important;
}
.page-title-update {
    font-family: 'Poppins', sans-serif;
    font-size: .85rem;
    color: #6c757d;
    margin-left: 1.8rem!important;
}

@media (min-width: 376px) {
    .display {
        font-size: 2rem;
    }
}

/* small: 576px and up */
@media (min-width: 576px) { 
    .display {
        font-size: 2.5rem;
    }
    .main-title {
        margin-left: 13px;
    }
}

/* tablets: 768px and up */
@media (min-width: 768px) {
    .display {
        font-size: 3rem;
    }
    .page-title-update {
        margin-left: .5rem;
    }
}

/* desktops: 992px and up */
@media (min-width: 992px) {
    .main-title {
        margin-left: 1.3rem;
    }
}

/* Dropdown */
.dropdown, .dropleft, .dropright, .dropup {
    display: inline-block;
}

.menu-overflow{
    height: 200px;
    overflow-y: auto;
}

/* BUTTON */
.btn {
    margin-top: .5rem;
}

/* CARDS */
.card {
    box-shadow: 0 4px 6px 0 rgba(31,70,88,.04)!important;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: .85rem;
    padding: 1.25rem;
}

.card-columns {
    margin: 1rem!important;
}

@media (max-width: 767.98px){
    .card-columns {
        margin: 1rem .5rem!important;
    }
    .card {
        padding: 1.25rem 1rem;
    }
}

@media (min-width: 1200px) {
    .one {
        column-count: 1!important;
    }
    .two {
        column-count: 2!important;
    }
    .two-small {
        column-count: 2!important;
        width: 65%;
        margin: 1rem auto!important;
    }
    .four {
        column-count: 4!important;
    }
    .four-one {
        column-count: 4!important;
    }
    .xl-small {
        width: 65%;
        margin: 1rem auto!important;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .card-columns {
        column-count: 1;
    }
}

/* Small devices (large devices, 992px and up) to (extra large devices, up to 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-columns {
        column-count: 2;
    }
    .four-one {
        column-count: 1!important;
    }
    .three-one {
        column-count: 1!important;
    }
    .one {
        column-count: 1!important;
    }
    .col-md-8 {
        padding-left: 0;
    }
}
@media (max-width: 767.98px) {
    .three-one {
        margin: 1rem!important;
    }
    .four-one {
        margin: 1rem!important;
    }
}

/* TOC: Auto margin for pages w/ toc */
@media (max-width: 1199.98px) {
    .xl-none {
        display: none;
    }
}

/* GLOBAL: CARD CONTENT */
a.text-reset {
    text-decoration: none;
}

a.text-reset:hover {
    color: #007bff!important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card.menu:hover {
    border-color: #007bff!important;
    background-color: #fdfdfd;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card.selected {
    border-color: #7abaff!important;
}

.card-body {
    padding: 0!important;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    margin: 0;
}

.card-icon {
    float: left;
    margin-right: .5rem;
}

.card-date {
    color: #6c757d;
    margin-bottom: 0!important;
}


.card-state-text {
    display: inline;
}

.inline {
    display: inline;
}

.card-img-top {
    display: block;
    margin: 0 auto;
}

/* Mobile Devices */
@media (max-width: 1199.98px) {
    .card-text {
        font-size: 85%;
    }

    .media {
        display: block!important;
    }
}

/* GLOBAL: CARD DECK */
.card-deck {
    margin: 0.5rem;
    flex-flow: column wrap;
}

.card-deck > .card {
    margin: 0 0 1rem 0; /* gap */
}

.card-deck > .card:last-child {
    margin: 0; /* gap */
}

/* tablets: 768px and up */
@media (min-width: 768px){
    .card-deck {
        margin: 1rem;
    }
}

/* desktops: 992px and up */
@media (min-width: 992px) {
    .card-deck {
        flex-flow: row nowrap;
    }
    .card-deck > .card {
        margin: 0 1rem 0 0; /* gap */
    }
}

/* proportions */
.cd-30 {
    flex: 1 0 32.185%!important;
}

.cd-70 {
    flex: 1 0 65.815%!important;
}

/* CARD TYPE */
.text-justify {
    margin-top: 1rem;
    margin-bottom: 0;
}

/* GLOBAL: CARD MENU */
/* extra small: less than 576px */
.card-menu {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 1rem .5rem;
}

.menu {
    flex: 0 0 auto;
    margin: 0 .5rem 0 0;
    min-width: 14rem;
    height: 5rem;
}

.card.menu {
    padding: 1.25rem 1rem;
}

.menu > .card-body {
    display: flex;
    align-items: center;
}

@media (max-width: 575.98px) {
.menu > .card-body > .card-hero > .hero-body > .card-text {
    font-size: 65%;
    display: none;
}
.menu > .card-body > .card-hero > .hero-body > .card-title {
    font-size: 1rem;
}
.card-hero {
    align-items: center!important;
}
}

/* small: 576px and up */
@media (min-width: 576px) {
    .menu {
        min-width: 19rem;
        height: 9rem;
    }
}
/* tablets: 768px and up */
@media (min-width: 768px) {
    .card-menu {
        margin: 1rem;
    }
    .menu {
        margin: 0 1rem 0 0;
        min-width: 21rem;
        height: 7.5rem;
    }
}

/* desktops: 992px and up */
@media (min-width: 992px) {
    .card-menu {
        margin: 1rem;
    }
    .menu {
        margin: 0 1rem 0 0;
        min-width: 24rem;
        height: 6.5rem;
    }
}

/* large desktops: 1200px and up */
@media (min-width: 1200px) {
    .card-menu {
        overflow: visible;
        margin: 1rem;
    }
    .menu {
        margin: 0 1.25rem 0 0;
        min-width: auto;
        min-height: 100%;
        height: auto;
    }
    .menu > .card-body > .card-hero > .hero-body > .card-text {
        font-size: inherit;
    }
}

/* GLOBAL: CARD HERO */
.card-hero {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: end;
}

/* GLOBAL: BADGES */
.badge-gray {
    color: #fff;
    background-color: #6c757d;
}

.badge-indigo{
    color: #fff;
    background-color: #6610f2;
}

/* GLOBAL: CHART LEGENDS */
.card-chartLegend {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    padding-top: .5rem!important;
    padding-bottom: 0!important;
}

.chartLegendSquare {
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    margin-right: 1.5rem!important;
    margin-bottom: 1rem;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.chartLegendSquare:before {
    content: "";
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 0;
    border-radius: 4px;
}

.chartLegendSquare#legendBlack:before {
    background-color: #000;
}

.chartLegendSquare#legendGrey:before {
    background-color: #9d9fa6;
}

.chartLegendSquare#legendBlue:before {
    background-color: #007bff;
}

.chartLegendSquare#legendBlueLight:before {
    background-color: #55a1f2;
}

.chartLegendSquare#legendBlueDark:before {
    background-color: #0050a6;
}

.chartLegendSquare#legendPurple:before {
    background-color: #6f42c1;
}

.chartLegendSquare#legendPink:before {
    background-color: #e83e8c;
}

.chartLegendSquare#legendRed:before {
    background-color: #dc3545;
}

.chartLegendSquare#legendOrange:before {
    background-color: #fd7e14;
}

.chartLegendSquare#legendYellow:before {
    background-color: #ffc107;
}

.chartLegendSquare#legendGreen:before {
    background-color: #28a745;
}

.chartLegendSquare#legendTeal:before {
    background-color: #20c997;
}

.legenda {
    text-align: center;
    margin: 0 .5rem;
    color: #6c757d;
}

/* GLOBAL: CHARTS */
#htmlwidget_container {
    position: static!important;
    top: 0px!important;
    right: 0px!important;
    bottom: 0px!important;
    left: 0px!important;
}

iframe {
    border: 0;
    width: 100%;
    height: 350px;
}

/* GLOBAL: TOAST MESSAGES */
.toast-wrap {
    width:100%;
    z-index:1010;
    position:fixed;
    bottom: 1.5rem;
    padding: 0 1.5rem 0 0;
    justify-content: flex-end;
}

@media (max-width: 991.98px) { 
.toast-wrap {
    padding: 0;
    justify-content: center;
}
}

/* GLOBAL: TABLES */
.horizontal-scroll {
    overflow: hidden;
    overflow-x: auto;
    clear: both;
    width: 100%;
}
  
table {
    border-width: 1px 0 0 1px;
    font-size: 13px;
    margin: 1em 0;
    width: 100%;
}

table, td, th {
    border-color: #edf2f6;
    border-style: solid;
}

td, th {
    border-width: 0 1px 1px 0;
    line-height: 1.5;
    padding: 1em;
    text-align: left;
}

th {
    background: #fafcfe;
}

/* PERGUNTAS: ACCORDION */
.card-header {
    background-color: rgba(0,0,0,.02);
}

.btn-link {
    font-weight: 500;
}

.accordion {
    margin: 1rem 0 0 0;
}

.accordion>.card {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    display: flex!important;
    padding: 0;
    margin-bottom: 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.collapse>.card-body {
    padding: 1.25rem!important;
}
.collapsing>.card-body {
    padding: 1.25rem!important;
}

/* MIDIA: REPORTAGENS */
.news-month {
    margin: 1rem 0 .25rem 0;
    font-size: 1.25rem;
    font-weight: 300;
}
.news-week {
    margin: .25rem 0 .25rem 1rem;
}
.favicon {
    width: 16px;
    margin: 0 .5rem 0 0;
}

/* MIDIA: CALENDAR */
.pagination {
    margin-bottom: .5rem;
}
@media (max-width: 575.98px) {
    .page-link {
        padding: .5rem 0.63rem;
    }
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.calendar-month {
    padding: 0 .5rem 0 0;
}

/* GLOBAL: FOOTER */
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 40px; /* height of the footer (check on dev tools)*/
}
  
footer {
    /* sticky bottom */
    position: absolute;
    bottom: 0;
    /* item organization */
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
    /* decoration */
    color: #6c757d;
    background-color: #f8f9fa;
    padding: .5rem; /* footer SIZE */
}

.footer-content {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}