COVID-19/
*~
*.~
.Rhistory
.RData
.Rproj.user
*.Rproj
.*.sw[opq]
__pycache__/
site.Rproj
web/libs/
web/projecao_leitos/municipios/SP/*/libs/
web/projecao_leitos/DRS/SP/*/libs/
img/trusted/abrasco.png
img/trusted/apublica.jpg
img/trusted/apublica.png
img/trusted/AssociatedPress_oti.svg
img/trusted/BandNews.svg
img/trusted/BandNews_ori.svg
img/trusted/BBC_ori.svg
img/trusted/CNN_Brasil.svg
img/trusted/El_Pais_ori.svg
img/trusted/estadao_ori.png
img/trusted/estado_minas_ori.svg
img/trusted/fapesp.jpg
img/trusted/Folha_o.svg
img/trusted/grupo_globo_ori.svg
img/trusted/jc-noticia.jpg
img/trusted/Le_Figaro_ori[.svg
img/trusted/Le_Monde_o.svg
img/trusted/oglobo.svg
img/trusted/Otempo_ori.png
img/trusted/RFI.svg
img/trusted/tse_ori.png
img/trusted/uol-diveo.png
img/trusted/uol-grupo.png
img/trusted/usp-logo-eps.eps
img/trusted/usp_ori.svg
js/lib_locale_uf.js
img/trusted/Le_Figaro_ori[.svg
img/trusted/Le_Figaro_ori[.svg
img/trusted/Le_Figaro_ori.svg
