COVID-19/
*~
*.~
.Rhistory
.RData
.Rproj.user
.*.sw[opq]
__pycache__/
site.Rproj
web/libs/
web/projecao_leitos/municipios/SP/*/libs/
web/projecao_leitos/DRS/SP/*/libs/
web/municipios/*/*/libs/
web/DRS/*/*/libs/
