COVID-19/
*~
*.~
.Rhistory
.RData
.Rproj.user
*.Rproj
.*.sw[opq]
__pycache__/
site.Rproj
web/libs/
web/projecao_leitos/municipios/SP/*/libs/
web/projecao_leitos/DRS/SP/*/libs/
_src/link_midia_source.txt
_src/emails.txt
