.navbar {
  background-image: url("fig/navbar1.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sbframelist li {
  font-weight: 500;
}

.section .level3 {
  max-width: 1024px;
}

@media only screen and (max-width: 479px){
    .navbar-brand {
        float: none;
        padding: 0.5em;
    }

    .navbar-author {
        display: inline-block;
        margin-left: 0;
        padding: 0.5em;
    }
}
