.navbar {
  background-image: url("fig/navbar1.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sbframelist li {
  font-weight: 500;
}

@media only screen and (max-width: 479px){
    .navbar-brand {
        float: none;
        padding: 0.5em;
    }

    .navbar-author {
        display: inline-block;
        margin-left: 0;
        padding: 0.5em;
    }
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.4);
}
